.menu{
    background-color: #0a2750;
    background-image: url('../images/background_menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding-top: 100px;
}

.menu__title{
    text-align: center;
    margin: auto;
    max-width: 780px;
    font-family: 'Inter', Arial,sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.menu__subtitle{
    text-align: center;
    margin: auto;
    max-width: 780px;
    padding-top: 24px;
    padding-bottom: 100px;
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 30px;
}

.menu__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-bottom: 100px;
    margin: 0;
    gap: 100px;
}