.reservation{
    background-color: #D9E7FF;
    background-image: url('../images/background_reservation.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation__title{
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 80px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form{
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 385px;
}

.reservation__fieldset{
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 0;
    padding: 0;
}

.reservation__label{
    margin-bottom: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.reservation__input{
    height: 60px;
    margin-bottom: 32px;
    padding: 0;
    border-style: solid;
    border-radius: 4px;
    border-color: #838383;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 30px;
}

::placeholder{
    color: #838383;
}

.reservation__button{
    border-radius: 4px;
    padding: 0;
    height: 60px;
    background-color: #2f80ed;
    color: #ffffff;
    margin-bottom: 32px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.reservation__button:hover{
    opacity: 70%;
    transition-property: 'opacity';
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.reservation__checkbox-footer{
    margin-bottom: 112px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.reservation__checkbox{
    width: 20px;
    height: 20px;
}